#container {
  width: 1020px; 
  text-align: center;
}
.header {
  background-color: blue;
  height: 300px;
}
.nav{
  background: green;
  height: 50px;
  margin-bottom: 10px;
}

.aside{
  background: red;
  width: 300px;
  height: 500px;
}

.article{
  background: yellow;
  width: 670px;
  height: 500px;
  margin-left: 46px;
  margin-bottom: 10px;
}

.footer{
  height: 200px
}