#container {
  border: 1px solid #000;
  background-color: red;
  width: 1020px; 
  text-align: center;
}
.header {
  text-align: left;
  border: 1px solid #000;
  background-color: lightgreen;
  height: 300px;
}
.nav{
  text-align: left;
  border: 1px solid #000;
  background: blue;
  height: 50px;
  margin-bottom: 10px;
}

.aside{
  text-align: left;
  border: 1px solid #000;
  background: skyblue;
  width: 300px;
  height: 500px;
  float: left;
  overflow: hidden;
}

.article{
  text-align :left;
  border: 1px solid #000;
  background: yellow;
  width: 670px;
  height: 500px;
  margin-left: 46px;
  margin-bottom: 10px;
  float: right;
  overflow: hidden;
}

.footer{
  text-align: left;
 clear:both;
  background: pink;
  height: 200px
}