#container {
  background-color: red;
  width: 1020px; 
  text-align: center;
}
.header {
  background-color: darkseagreen;
  height: 300px;
}
.nav{
  background: blue;
  height: 50px;
  margin-bottom: 10px;
}

.aside{
  background: skyblue;
  width: 300px;
  height: 500px;
  float: left;
  overflow: hidden;
}

.article{
  background: yellow;
  width: 670px;
  height: 500px;
  margin-left: 46px;
  margin-bottom: 10px;
  float: right;
  overflow: hidden;
}

.footer{
 clear:both;
  background: pink;
  height: 200px
}