.header {
  text-align: left;
  border: 1px solid #000;
  background-color: pink;
  height: 100px;
  }
 .aside{
  float: left;
  width: 300px;
  }
  .main{
    float: right;
ã€€}
  h4{font-size: 20px;
    text-align: left;
  border: 1px solid #000;
  background-color: gray;
}
  .a {
  width: 900px;
  margin:0 auto;
overflow: hidden;
}
  .b {font-size:25px;
  float: right;
}
  .logo {width: 270px;
  float: left;
}
.logo-right {width: 270px;
  float: right;
}
  .b-left {font-size: 25px;
  float: left;
}

li{font-size: 20px;
  margin-bottom: 1em;
}