.menu-list {
  margin: 0; 
  padding: 0; 
  list-style: none; 
}
.menu-item {
display: block; 
background: url(最初の画像のアドレス) no-repeat;
border: 0px;
padding: 3px;
text-decoration: none;
color: #333;
width: 100px; 
height: 31px;
margin: 0px;
padding: 4px;
text-align: center;
font-size: 14px;
}
.menu-item:hover{
display: block; 
background: url(入れ替わる画像のアドレス) no-repeat;
text-decoration: underline;
color: #fff;
margin: 0px;
}
