#container {
  background: #EEEEEE ;
  }
h1 {
  margin-left: 40px;
}
.header {
  background: #DDDDDD;
  margin : 40px;
  text-align: justify;
}
.rayout {
  text-align: left;
  background-color: pink;
  height: 300px;
  margin: 40px;
ã€€}
h4{
  font-size: 30px;
  text-align: left;
  background-color: gray;
  margin: 40px;
}
.a {
  width: 900px;
  margin:0 auto;
  overflow: hidden;
}
.b {
  float: right;
}
.logo {
  width: 270px;
  float: left;
}
.logo-right {
  width: 270px;
  float: right;
}
.b-left {
  float: left;
}
.footer{
  height: 300px;
  background: gray;
  margin: 40px;
  }
.menu {
  overflow: hidden;
  list-style:none;
}
.menu-list {
  margin-bottom: 30px;
  /*display: inline-block;*/
  float: left;
  width: 20%;
}