#container {
  padding: 40px;
  background: #EEEEEE ;
}
.header {
  background: #DDDDDD;
  height: 50px;
  text-align: justify;
}
h1{
  margin: 0px;
}
.menu {
  padding-top: 10px;
  overflow: hidden;
  list-style:none;
  text-align: center
}
.menu-list {
  margin-bottom: 30px;
  /*display: inline-block;*/
  float: left;
  width: 20%;
}
.rayout {
  text-align: left;
  background-color: pink;
  height: 300px;
ã€€}
h4{
  font-size: 30px;
  text-align: left;
  background-color: gray;
}
.a {
  width: 900px;
  margin:0 auto;
  overflow: hidden;
}
.b {
  float: right;
}
.logo {
  width: 270px;
  float: left;
}
.logo-right {
  width: 270px;
  float: right;
}
.b-left {
  float: left;
}
.footer{
  height: 300px;
  background: gray;
  margin-top: 20px;
  }
