.border {
  border: 2px solid blue;
  margin-bottom: 20px;
  padding: 0px;
  opacity: 0.8;
  overflow: hidden;
}
.left {
  width: 100px;
  height: 100px;
  background: yellow;
  float: left;
  overflow: hidden;
}
.right {
  width: 200px;
  height: 200px;
  background: red;
  float: right;
}

.bottom {
  width: 350px;
  height: 30px;
  background: green;
  clear: both;
}